body {
    width: 160px;
    height: 240px;
    text-align: center;
}

#displayDomain {
    margin: 0 4px;
    color: silver;
    max-width: 140px;
}

.ctrl {
    font-size: 30px;
    font-weight: 500;
    margin: 8px 0px;
}

.hint {
    margin-top: 4px;
    color: silver;
}

.switchToggle {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 35px;
    margin-top: 20px;
}

input[type="checkbox"] {
    width: 0;
    height: 0;
}

input[type="checkbox"]:hover+.toggle {
    box-shadow: 0px 0px 3px #a3a3a3;
}

.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50px;
    background-color: silver;
    transition: .5s;
}

.toggle::before {
    content: "";
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 2px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: white;
    transition: .5s;
}

input[type="checkbox"]:checked+.toggle {
    background-color: darkblue;
}

input[type="checkbox"]:checked+.toggle::before {
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    transition: .5s;
}

#removeButton {
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: darkblue;
    font-size: 14px;
    color: white;
    transition: .5s;
}

#removeButton:hover {
    transform: scale(1.02);
    box-shadow: 0px 2px 0px #a3a3a3;
}

#removeButton:active {
    transform: scale(0.96);
}