body {
    width: 180px;
    height: 260px;
    text-align: center;
    background-color: white;
}

#displayDomain {
    margin: 0 4px;
    color: silver;
    max-width: 140px;
}

.tabs {
    display: inline-flex;
    justify-content: space-around;
    margin-top: 8px;
}

.tab {
    margin: 4px;
    width: 80px;
    height: 40px;
    margin-top: 0px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    background-color: silver;
    color: black;
    border: none;
    border-radius: 20px;
    transition: .5s;
}

.tab.active {
    color: #fff;
    background-color: darkblue;
}

.tab-content {
    display: none;
    padding: 10px;
}

.tab-content.active {
    display: block;
}

.tab:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 2px #a3a3a3;
}

.tab:active {
    transform: scale(0.96);
}

.switchToggle {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 35px;
    margin-top: 20px;
}

input[type="checkbox"] {
    width: 0;
    height: 0;
}

input[type="checkbox"]:hover+.toggle {
    box-shadow: 0px 0px 4px #a3a3a3;
}

.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50px;
    background-color: silver;
    transition: .5s;
}

.toggle::before {
    content: "";
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 2px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: white;
    transition: .5s;
}

input[type="checkbox"]:checked+.toggle {
    background-color: darkblue;
}

input[type="checkbox"]:checked+.toggle::before {
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    transition: .5s;
}

.no-animation+.toggle,
.no-animation+.toggle::before {
    transition: none !important;
}

#removeButton {
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 25px;
    background-color: darkblue;
    font-size: 14px;
    color: white;
    transition: .5s;
}

#removeButton:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 2px #a3a3a3;
}

#removeButton:active {
    transform: scale(0.96);
}

.hint {
    margin-top: 4px;
    margin-bottom: 5px;
    color: silver;
}

#removed-content {
    width: 160px;
    height: 160px;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

#removedList {
    font-size: 12px;
    line-height: 1.2;
    margin: 0px;
    padding: 0px;

    li {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
}

#removed-content::-webkit-scrollbar {
    width: 8px;
    background-color: silver;
    border-radius: 4px;
}

#removed-content::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: darkblue;
}

#removed-content::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 2px #a3a3a3;
    border-radius: 10px;
}

.rstr_btn {
    width: 80px;
    height: 30px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 15px;
    transition: .5s;
    text-align: center;
    margin-left: 30px;
    margin-top: 6px;
    margin-bottom: 10px;
}

.rstr_btn:hover {
    transform: scale(1.02);
    box-shadow: 0px 0px 2px #a3a3a3;
}

.rstr_btn:active {
    transform: scale(0.96);
}